<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta
      name="description"
      content="chat"
    />
    <meta name="robots" content="index,follow" />
    <meta property="og:title" content="chat" />
    <meta property="og:type" content="netart" />
<!--     <meta property="og:url" content="https://naoto-status.glitch.me" /> -->
    <meta
      property="og:description"
      content="chat"
    />
    <meta name="twitter:card" content="summary" />

    <title>chat</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.6" type="module" defer></script>
  </head>
  <body>
    <div class="flex">
      <h1 class="text-xl">chat</h1>
<!--       you are the
      <span hx-post="/api/counter" hx-trigger="load">
        loading
      </span>th visitor -->
      <div hx-sse="connect:/api/content swap:message">
        loading
      </div>
      <form hx-post="/api/prompt" hx-swap="none">
        <div class="inline">
          <label class="hidden">Prompt</label>
          <input class="border-2 border-sky-500" type="text" name="prompt" placeholder="...">
        </div>
        <button class="border-2 border-black">Submit</button>
      </form>
    </div>
  </body>
</html>
