<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta
      name="description"
      content="chat"
    />
    <meta name="robots" content="index,follow" />
    <meta property="og:title" content="chat" />
    <meta property="og:type" content="netart" />
<!--     <meta property="og:url" content="https://naoto-status.glitch.me" /> -->
    <meta
      property="og:description"
      content="chat"
    />
    <meta name="twitter:card" content="summary" />

    <title>chat</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.9" type="module" defer></script>
    <script src="https://unpkg.com/htmx.org@1.9.9/dist/ext/sse.js" type="module" defer></script>  </head>
  <body>
    <div class="flex justify-center h-screen w-full">
      <div class="flex flex-col h-full max-w-lg">
        <h1 class="text-xl">Best Chat</h1>
  <!--       you are the
        <span hx-post="/api/counter" hx-trigger="load" hx-on::after-swap="console.log('oi')">
          loading
        </span>th visitor -->
        <div id="chat-messages" class="h-full overflow-y-scroll" hx-ext="sse" sse-connect="https://the-backend.glitch.me/chat/content" sse-swap="message" hx-on:htmx:after-settle="document.querySelector('#chat-messages > div').scrollIntoView({behavior: 'smooth', block: 'end'})">
          loading
        </div>
        <div>
          <form class="p-1 mb-10 flex flex-row" hx-post="https://the-backend.glitch.me/chat/prompt" hx-target="#response" hx-swap="none" hx-on::after-request="this.reset()">
            <input type="submit" hidden />
            <div class="w-full">
              <label class="hidden">Prompt</label>
              <input class="border-2 border-sky-500 w-full" type="text" name="prompt" placeholder="...">
            </div>
            <div hx-get="https://the-backend.glitch.me/chat/models" hx-trigger="load" hx-target="this" hx-swap="beforeend">
            </div>
            <div>
              <input class="border-2 border-sky-500 w-20" type="number" name="temperature" min="0.0" max="2.0" step="0.1" value="0.7" />
            </div>
            <button class="border-2 border-black">Submit</button>
          </form>
          <div id="response">

          </div>
          <button
              hx-get="https://the-backend.glitch.me/chat/modal" 
              hx-target="#modals-here" 
              hx-trigger="click" 
              data-bs-toggle="modal" 
              data-bs-target="#modals-here"
              class="btn btn-primary">Open Modal</button>

          <div id="modals-here"
              class="modal modal-blur fade"
              aria-hidden="false"
              tabindex="-1">
              <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                  <div class="modal-content"></div>
              </div>
          </div>

        </div>
      </div>
    </div>
  </body>
</html>
