<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta
      name="description"
      content="chat"
    />
    <meta name="robots" content="index,follow" />
    <meta property="og:title" content="chat" />
    <meta property="og:type" content="netart" />
<!--     <meta property="og:url" content="https://naoto-status.glitch.me" /> -->
    <meta
      property="og:description"
      content="chat"
    />
    <meta name="twitter:card" content="summary" />

    <title>chat</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.9" type="module" defer></script>
    <script src="https://unpkg.com/htmx.org@1.9.9/dist/ext/sse.js" type="module" defer></script>  </head>
  <body>
    <div class="flex justify-center h-screen w-full">
      <dialog class="absolute w-full h-full">
        <h1 class="text-xl">Best Chat</h1>
        <p>GPT-2 model and code by <a class="font-bold" href="https://andreiamatos.xyz/" target="_blank">Andreia Matos</a></p>
        <p>Content by <a class="font-bold" href="https://jorgeguevara.myportfolio.com/" target="_blank">Jorge Guevara</a> and <a class="font-bold" href="https://naotohieda.com/" target="_blank">Naoto Hieda</a></p>
        <p>Front end by Naoto Hieda</p>
        <p>Developed in the frame of <a class="font-bold" href="https://jorgeguevara.myportfolio.com/" target="_blank">Jorge Guevara</a></p>
        <form method="dialog">
          <button>close</button>
        </form>
      </dialog>

      <div class="flex flex-col h-full max-w-lg">
        <div class="flex flex-row justify-between">
          <h1 class="text-xl">Best Chat</h1>
          
          <button
            class=""
            onclick="document.querySelector('dialog').showModal()">Info</button>
        </div>
  <!--       you are the
        <span hx-post="/api/counter" hx-trigger="load" hx-on::after-swap="console.log('oi')">
          loading
        </span>th visitor -->
        <div id="chat-messages" class="h-full overflow-y-scroll" hx-ext="sse" sse-connect="https://the-backend.glitch.me/chat/content" sse-swap="message" hx-on:htmx:after-settle="document.querySelector('#chat-messages > div').scrollIntoView({behavior: 'smooth', block: 'end'})">
          loading
        </div>
        <div>
          <form class="p-1 mb-10 flex flex-row" hx-post="https://the-backend.glitch.me/chat/prompt" hx-target="#response" hx-swap="none" hx-on::after-request="this.reset()">
            <input type="submit" hidden />
            <div class="w-full">
              <label class="hidden">Prompt</label>
              <input class="border-2 border-sky-500 w-full" type="text" name="prompt" placeholder="...">
            </div>
            <div hx-get="https://the-backend.glitch.me/chat/models" hx-trigger="load" hx-target="this" hx-swap="beforeend">
            </div>
            <div>
              <input class="border-2 border-sky-500 w-20" type="number" name="temperature" min="0.0" max="2.0" step="0.1" value="0.7" />
            </div>
            <button class="border-2 border-black">Submit</button>
          </form>
          <div id="response">

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
