<!DOCTYPE html>
<html lang="en">
  <head>
<!--     <meta http-equiv="refresh" content="0; url=https://naoto-status-production.up.railway.app/" /> -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta
      name="description"
      content="naoto-status"
    />
    <meta name="robots" content="index,follow" />
    <meta property="og:title" content="naoto-status.glitch.me" />
    <meta property="og:type" content="netart" />
    <meta property="og:url" content="https://naoto-status.glitch.me" />
    <meta
      property="og:description"
      content="naoto-status"
    />
    <!-- <meta
      property="og:image"
      content="https://cdn.glitch.me/353b1cf8-b5e9-48a0-8a81-1638fd8bc11a%2Fimage.png?v=1635614843867"
    /> -->
    <meta name="twitter:card" content="summary" />

    <title>naoto-status</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.6" type="module" defer></script>
<!--     <script src="/index.js" type="module" defer></script> -->
  </head>
  <body>
<!--     <div id="choomount"></div> -->
    <div>
      <h1 class="text-xl">ひえだのページ</h1>
      you are the
        <span hx-post="https://naoto-status-production.up.railway.app/api/counter" hx-trigger="load">
          loading
        </span>th visitor
<!--       <div hx-sse="connect:https://naoto-status-production.up.railway.app/api/content swap:message">
        loading
      </div> -->
      <div hx-post="https://naoto-status-production.up.railway.app/api/content" hx-trigger="load">
        loading
      </div>
      <div hx-post="https://naoto-status-production.up.railway.app/api/clicked" hx-trigger="click">Click Me</div>
<!--       <div hx-sse="connect:/api/incl-events swap:message">
        ?
      </div> -->
    </div>
  </body>
</html>
