/* CSS files add styling rules to your content */

html,
body {
  font-family: helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.code {
  margin: 1em;
  padding: 1em;
  background-color: aliceblue;
  display: none;
}

.reload {
  text-decoration: underline;
  cursor: pointer;
}

.styled-background {
  background-color: salmon;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.editor-container .CodeMirror {
  font-family: "VT323", monospace;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 2em;
  box-sizing: border-box;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  font-size: 20pt;
}
