/* CSS files add styling rules to your content */

html,
body {
  font-family: helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.editor-container .CodeMirror {
  font-family: monospace;
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 1;
  width: 100%;
  height: calc(100vh - 100px);
  background-color: rgba(255, 255, 255, 0);
  font-size: 20pt;
}

span[role=presentation] {
  background-color: rgba(0,0,0, 0.8);
}
