.cards {
  box-sizing: border-box;
  font-family: "arial", sans-serif;
  z-index: 10;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 7pt;
}

page {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  height: 9.40cm;
  width: 6.9cm;
  page-break-after: always;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  border: 0.5cm outset #eeeeee;
  background-color: #bbbbbb;
}
.page-content {
  height: 100%;
}


.content {
  margin: 0 2px;
  height: 100%;
}
.title {
  margin: 0 2px;
  padding-left: 0.2em;
  font-size: 1.3em;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
  background-color: "#00f";
  color: white;
}
.button {
  border: 0.1cm outset #eeeeee;
  background-color: #bbbbbb;
  color: #000000;
  margin: 2px;
  width: 1em;
  text-align: center;
}
.sign {
  position: absolute;
  font-size: .8em;
  bottom: .1em;
  left: .1em;
}

    .content {
      position: relative;
      width: 100%;
      padding-top: 100%;
      transform-origin: left top;
    }
    img {
      position: absolute;
      // top: 0;
      // left: 0;
      // width: 100%;
      // height: 100%;
      top: 25%;
      left: 25%;
      width: 50%;
      height: 50%;
      object-fit: cover;
      aspect-ratio: 1 / 1;
    }
    .name {
      position: absolute;
      display: ${ this.show ? "block" : "none" };
      top: 78%;
      text-align: center;
      width: 100%;
      animation: scale-in 2000ms ease-in-out forwards;
    }
    .year {
      // position: absolute;
      // bottom: 0;
      // left: 0;
      display: ${ false ? "block" : "none" };
    }
    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .element-thumb {
      animation: scale-in 2000ms ease-in-out forwards;
      display: ${ this.show ? "block" : "none" };
    }
    .element-video {
      display: none;
    }
    @keyframes scale-in {
      0% { opacity: 0 }
      100% { opacity: 1 }
      // 0% { transform: scale(0); opacity: 0 }
      // 100% { transform: scale(1); opacity: 1 }
    }