/* CSS files add styling rules to your content */
/* @font-face {
  font-family: "ApfelGrotezk Regular";
  src: url("https://cdn.glitches.me/ApfelGrotezk-Regular.woff2") format("woff2"),
    url("https://cdn.glitches.me/ApfelGrotezk-Regular.woff") format("woff");
} */

@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

html,
body {
  font-family: "HK Grotesk", arial, sans-serif;
  margin: 0;
  padding: 0;
}

* {
  font-family: "ApfelGrotezk Regular", arial, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}